.date-pickers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.date-pickers mat-form-field {
  width: 48%;
}

.reason-field {
  width: 100%;
  margin-bottom: 1em;
}

mat-dialog-actions {
  justify-content: flex-end;
}